{{- partial "head.html" . -}}
            {{ range (.Paginator 50).Pages }}
            {{ $lastmodDateFormatted := .Lastmod.Format "02 Jan 2006 at 15:04" }}
            {{ $lastmodTimeFormatted := .Lastmod.Format "15:04" }}
            {{ $date := .Params.date.Format "02.01.2006" }}
            {{ $lastmod := .Lastmod.Format "02.01.2006" }}
            <div class="status-all" id="{{ $date }}">
            <p>
                <div class="head-of-post">
                <div class="time">
                    <span class="relativetime" datetime="{{ dateFormat "2006-01-02T15:04:05" .Date }}" title="{{ dateFormat "January 2, 2006" .Date }}"><span class="date-only">{{ .Date.Format "02 Jan 2006" }}</span> | <span class="timeam">{{ .Params.date.Format "15:04" }}</span></span>
                </div>
            </div>
                {{ .Content }}
                {{ if isset .Params "tags" }}
                <p><span class="mood"></span>
                {{ range (.GetTerms "tags") }}
                    <span>
                        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span></p>
                {{ end }}
                {{ end }}
            </p>
        </div>
        {{ end -}}
    </div>
    <div class="new-old-buttons">
    {{ if .Paginator.HasPrev }}
    <a class="btn btn-default newer-statuses" href="{{ .Paginator.Prev.URL }}">
        Newer Statuses
    </a>
{{ end }}
<a href="#go-to-top" class="go-to-top">Go to top</a>
{{ if .Paginator.HasNext }}
    <a class="btn btn-default older-statuses" href="{{ .Paginator.Next.URL }}">Older Statuses</a>
{{ end }}
</div>
<br>

