<footer>
    <div class="footer-columns">
        <div class="footer-column">
            <h2>Browse</h2>
            <div class="footer-links">
                <a href="https://blog.blackpiratex.com/" target="_blank" rel="noopener noreferrer">Blog 🖊️</a>
                <a href="https://gallery.blackpiratex.com" target="_blank" rel="noopener noreferrer">Gallery 📸</a>
                <a href="https://music.blackpiratex.com" target="_blank" rel="noopener noreferrer">Music 🎧</a>
                <a href="https://notes.blackpiratex.com" target="_blank" rel="noopener noreferrer">Notes 📚</a>
                <a href="https://status.blackpiratex.com" target="_blank" rel="noopener noreferrer">Status 🎯</a>
                <a href="https://blackpiratex.com/bookmarks/" target="_blank" rel="noopener noreferrer">Bookmarks 📑</a>
                <a href="https://blackpiratex.com/contact/" target="_blank" rel="noopener noreferrer">Contact 💌</a>
                <a href="https://blackpiratex.com/credits/" target="_blank" rel="noopener noreferrer">Credits 🤝</a>
                <a href="https://blackpiratex.com/about/" target="_blank" rel="noopener noreferrer">About 🙋‍♂️</a>
            </div>
        </div>
        
        <div class="footer-column">
            <h2>Follow</h2>
            <div class="footer-links">
                <a href="https://links.blackpiratex.com/github" target="_blank" rel="noopener noreferrer">Github 💻</a>
                <a href="https://links.blackpiratex.com/pixelfed" target="_blank" rel="noopener noreferrer">PixelFed 📷</a>
                <a href="https://links.blackpiratex.com/yt" target="_blank" rel="noopener noreferrer">Youtube 🎥</a>
                <a href="https://links.blackpiratex.com/mastodon" target="_blank" rel="noopener noreferrer">Mastodon 🌑</a>
                <a href="https://links.blackpiratex.com/wa" target="_blank" rel="noopener noreferrer">WhatsApp 🗨️</a>
                <a href="https://links.blackpiratex.com/last.fm" target="_blank" rel="noopener noreferrer">Last.fm 🎵</a>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p class="footer-note">
            Want your own microblogging site? Here's the 
            <a href="https://github.com/blackpiratelive/status" target="_blank" rel="noopener noreferrer">source code</a>.
        </p>
        <p class="footer-credit">Made with ❤️ on Android by Sudip</p>
        <p class="footer-credit" >Uses self hosted umami analytics. <a href="https://go.blackpiratex.com/status-analytics">View Analytics</p>
    </div>
    <script defer src="https://umami-one-livid.vercel.app/script.js" data-website-id="8feae02c-a917-44ec-8674-844ea77d7cb3"></script>
</footer>
