{{/*
  Image Shortcode with Pure CSS Modal Popup
  Usage: {{< image src="/path/to/image.jpg" alt="Description" >}}
*/}}

{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $id := delimit (shuffle (split (printf "img-%s" (md5 $src)) "" )) "" }}

{{ $imagePermalink := "" }}
{{ with resources.Get $src }}
    {{ $imagePermalink = .RelPermalink }}
{{ else }}
    {{ $imagePermalink = $src | absURL }}
{{ end }}


<!-- This is the hidden checkbox that controls the modal's state -->
<input type="checkbox" id="{{ $id }}" class="modal-toggle" />

<!-- This is the "Show Image" button, which is a label for the checkbox -->
<div class="image-shortcode-container">
    <label for="{{ $id }}" class="btn-show-image">
        <span class="icon icon-image"></span>
        <span>Show Image: {{ $alt | default "Attachment" }}</span>
    </label>
</div>

<!-- This is the modal overlay, which contains the image and the close button -->
<div class="image-modal-overlay">
    <div class="image-modal">
        <!-- The image is now wrapped in a div -->
        <div class="image-modal-content">
            <img src="{{ $imagePermalink }}" alt="{{ $alt }}" loading="lazy">
        </div>
        {{ if $alt }}
        <div class="image-modal-caption">{{ $alt }}</div>
        {{ end }}
    </div>
    <!-- The close button is also a label for the checkbox -->
    <label for="{{ $id }}" class="image-modal-close"></label>
</div>
